body,
html {
  height: 100%;
  margin: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

#landing-page {
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100%;
  width: 100%;
  background-color: #f8f9fa;
}

#landing-page h1 {
  font-size: 6rem;
  margin-bottom: 20px;
  color: transparent;
  -webkit-text-stroke: 0.5px black;
  text-decoration: line-through;
}

#landing-page h2 {
  font-size: 3rem;
  margin-bottom: 20px;
}

#landing-page p {
  font-size: 1.25rem;
  margin-bottom: 5px;
  color: transparent;
  -webkit-text-stroke: 0.3px black;
}

#landing-page ul {
  font-size: 1.25rem;
  margin-bottom: 20px;
  color: transparent;
  -webkit-text-stroke: 0.5px black;
}

#landing-page li {
  margin-bottom: 10px;
}

#landing-page button {
  font-size: 1.5rem;
  padding: 10px 20px;
  background-color: red;
  border-color: red;
}

#message-container {
  text-align: center;
  margin-top: 10px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

#message {
  font-size: 32px;
  color: transparent;
  -webkit-text-stroke: 0.5px black;
}

#upload-button {
  display: none;
  margin-top: 5px;
  background-color: red;
  border-color: red;
}

#video-container {
  display: none;
  text-align: center;
  margin-top: 20px;
}

#coordinates {
  font-size: 16px;
  margin-top: 10px;
  text-align: center;
  position: fixed;
  bottom: 0;
}
#distance {
  font-size: 16px;
  margin-top: 10px;
  text-align: center;
}
#taipei-time {
  font-size: 16px;
  margin-top: 10px;
  text-align: center;
  position: fixed;
  top: 0;
}

video {
  width: 80%;
  height: auto;
  border: 1px solid #ccc;
  border-radius: 8px;
}

#flash {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: white;
  opacity: 0;
  pointer-events: none;
  z-index: 9999;
}

#gps-instructions {
  display: none;
  margin-top: 20px;
  color: red;
}

#uploading-indicator {
  display: none; /* Initially hidden */
  position: fixed; /* Fixed position to cover the entire screen */
  top: 50%; /* Center vertically */
  left: 50%; /* Center horizontally */
  transform: translate(-50%, -50%); /* Adjust for centering */
  background-color: rgba(0, 0, 0, 0.8); /* Semi-transparent background */
  color: white; /* White text */
  padding: 20px; /* Some padding */
  border-radius: 10px; /* Rounded corners */
  font-size: 1.5em; /* Larger text */
  z-index: 1000; /* Ensure it is on top of other elements */
}

/* Responsive Styles */
@media (max-width: 576px) {
  #landing-page h1 {
    font-size: 2.25rem;
  }

  #landing-page h2 {
    font-size: 1.35rem;
  }

  #landing-page p {
    font-size: 0.875rem;
  }

  #lainding-page ul {
    font-size: 0.875rem;
  }

  #landing-page li {
    margin-bottom: 5px;
  }

  #landing-page button {
    font-size: 1rem;
    padding: 8px 16px;
  }

  #message {
    font-size: 8vw;
  }

  #coordinates {
    font-size: 14px;
  }

  video {
    width: 80%;
  }
}

@media (min-width: 577px) and (max-width: 768px) {
  #landing-page h1 {
    font-size: 2.25rem;
  }

  #landing-page h2 {
    font-size: 1.35rem;
  }

  #landing-page p {
    font-size: 0.875rem;
  }

  #lainding-page ul {
    font-size: 0.875rem;
  }

  #landing-page li {
    margin-bottom: 5px;
  }

  #landing-page button {
    font-size: 1.25rem;
    padding: 9px 18px;
  }

  #message {
    font-size: 8vw;
  }

  #coordinates {
    font-size: 15px;
  }

  video {
    width: 80%;
  }
}

@media (min-width: 769px) and (max-width: 992px) {
  #landing-page h1 {
    font-size: 2.25rem;
  }

  #landing-page h2 {
    font-size: 1.35rem;
  }

  #landing-page p {
    font-size: 0.875rem;
  }

  #lainding-page ul {
    font-size: 0.875rem;
  }

  #landing-page li {
    margin-bottom: 5px;
  }

  #landing-page button {
    font-size: 1.375rem;
    padding: 10px 20px;
  }

  #message {
    font-size: 8vw;
  }

  #coordinates {
    font-size: 16px;
  }

  video {
    width: 80%;
  }
}

@media (min-width: 993px) {
  #landing-page h1 {
    font-size: 2.25rem;
  }

  #landing-page h2 {
    font-size: 1.35rem;
  }

  #landing-page p {
    font-size: 0.875rem;
  }

  #lainding-page ul {
    font-size: 0.875rem;
  }

  #landing-page li {
    margin-bottom: 5px;
  }

  #landing-page button {
    font-size: 1.5rem;
    padding: 10px 20px;
  }

  #message {
    font-size: 8vw;
  }

  #coordinates {
    font-size: 18px;
  }

  video {
    width: 80%;
  }
}
